/* EditSuperheroForm.scss */

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button[type="button"] {
    padding: 5px 10px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  h3 {
    font-size: 20px;
    margin-top: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    div {
      flex: 1;
      text-align: center;
      position: relative;

      button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #ff5733;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }

  .upload-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      background-color: #0056b3;
    }
  }

  button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      background-color: #1e7e34;
    }
  }
}
